html{
	font-size: 16px;
}
body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
    justify-content: center;
	align-items: center;
	flex-flow: column;
}

.container{
	max-width: 1200px;
	width: 90%;
	display: flex;
    justify-content: center;
	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: .75em;
}

p {
	font-size: .875em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	margin: 0 auto;
	width: 100%;
}

header h1 {
	margin: 0;
	padding: 38px 0;
	border-bottom: 3px solid #77a466;
	text-align: center;
}
header h1 span {
	color: #77a466;
}

header nav {
	padding: 46px 0;
	width:100%;


}
header nav ul {
	margin: 0;
	padding: 0;
	
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: .875em;
	padding: 15px;
	list-style-type: none;
	text-align: center;
	
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	width: 100%;
	display: flex;
    justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	
}

.main-image {
	width: auto;
	

}
.main-image img {
	width: 100%;
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	width: auto;

}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
	width: auto;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 25px;
	width: 100%;
}

.section-one,
.section-two,
.section-three {
	width: 100%;
	border-top: 1px solid #eee;
}

.section-one h3 {
	padding: 10px 0;
}



.section-two h3,
.section-three h3 {
	padding: 10px 0;

}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
	padding: 10px 0;
}

.address {
	font-size: 1em;
	line-height: 24px;
	padding: 10px 0;
}

/*The widths are in a percentage!*/
footer {

	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
	display: flex;
    justify-content: center;
	align-items: center;
	width: 100%;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}

@media (min-width: 768px) {

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-one,
.section-two,
.section-three {
	width: 33%;
	height: 300px;
}

.section-two h3, .section-three h3 {
	padding: 10px 30px;
}

.reviews {
	padding: 10px 30px;
}

.address {
	padding: 10px 30px;
}

}

@media (min-width: 1200px) {

header {	
	display: flex;
	flex-flow: row;
}

header h1 {
	border-bottom: none;
	text-align: left;
	width: 30%;
}

header nav {
	width: 70%;
	text-align: right;
}

header nav ul {
	text-align: right;
}


header nav ul li {
	display: inline;
}

.section-one, .section-two, .section-three {
	height: 240px;
}

}


